<!-- WRAPPER -->

<style type="text/css"> 
   .list-series-informations{ 
      height: 35px; 
   }

   .site-description {
        height: 90px;
   }

   .site-label {
        height: 50px;
   }
</style>

<div id="wrapper">
    <section>
        <div id="gmap_default"><!-- google map --></div>

        <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true&amp;#038;ver=3.8.1"></script>
        <script type="text/javascript">
            function initialize_property_map(){
                var propertyLocation = new google.maps.LatLng(43.6732936, 6.8782122);
                var propertyMapOptions = {
                    center: propertyLocation,
                    zoom: 5,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false
                };
                var propertyMap = new google.maps.Map(document.getElementById("gmap_default"), propertyMapOptions);
                var propertyMarker = new google.maps.Marker({
                    position: propertyLocation,
                    map: propertyMap
                    //, icon: "assets/images/icons/realestate/map.png"
                });
            }

            window.onload = initialize_property_map();
        </script>
    </section>

    <section class="container">
        <div class="row">

            <!-- center column -->
            <div class="col-md-9">

                <h3 class="page-header">
                    <strong class="styleColor">Sites</strong>
                </h3>

                <div class="row sites_list">
                    <% _.each(sites, function (site) { %>
                    <div class="col-md-4">
                        <div class="item-box site-item-box <%= site.extID %>">
                            <figure>
                                <a class="item-hover" href="/sites/<%= site.extID %>/variables">
                                    <span class="overlay color2"></span>
                                    <span class="inner">
                                        <span class="block fa fa-plus fsize20"></span>
                                        <strong>Visualiser</strong> les données
                                    </span>
                                </a>
                                <img alt="" class="img-responsive" src="<%= site.photo %>" width="409" height="271" />
                            </figure>
                            <div class="item-box-desc">
                                <h4 class="site-label"><%= site.label %></h4>
                                <% if (site.location === '06') { %>
                                    <small>Alpes-Maritimes (06)</small>
                                <% } else { %>
                                    <small><%= site.location %></small>
                                <% } %>
                                <p class="site-description">
                                    <%= site.description %>
                                </p>
                                <p style="text-align: right;" class="row">
                                    <span class="fsize12 pull-right <%= site.extID %>-series-informations-number list-series-informations"></span>
                                    <span class="fsize12 pull-left <%= site.extID %>-series-informations-date list-series-informations"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>

            </div>
            <div class="col-md-3">

                <!-- HOT -->
                <h3 class="page-header">
                     <strong class="styleColor">Filtres</strong>
                </h3>

                <!-- FILTER BOX -->
                <section class="container"><!-- add "styleBackground" class for colored box -->

                    <form id="re-filter" action="/data-search" method="get">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <label>Nom du site</label>
                                    <input type="text" class="form-control" name="re_id" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <label>Localisation</label>
                                    <select class="form-control" name="re_location">
                                        <option value="0">Toutes</option>
                                        <option value="1">Alpes-Maritimes (06)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-primary fullwidth">FILTRER</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            <!-- /FILTER BOX -->
            </div>
        </div>
    </section>
</div>
<!-- /WRAPPER -->

<script type="text/javascript" src="/plugins/jquery-2.0.3.min.js"></script>

<script type="text/html" id="template-series-information">
    SERIESCOUNT <i class="fa fa-download" title="download"></i><br>
    VARIABLENUMBER <i class="fa fa-rss" title="garage"></i><br>
</script>

<script type="text/html" id="template-series-information-calendar">
    DATE <i class="fa fa-calendar" title="calendar"></i><br>
</script>

<script type="text/javascript">
    
    var SITEIDKEY = 'SITEID',
        URLBASE = '/sites/'+ SITEIDKEY +'/series/information.json',
        getSeriesInformationPerSite = function (siteID, seriesURL, callback) {
            
        $.ajax({
            type: 'GET',
            url: seriesURL
        }).done(function (result) {
            callback(siteID, result);
        });
    },
        updateSeriesInformationHTML = function (siteID, result) {
            var htmlTemplate = $('#template-series-information').clone().html(),
                beginDateTemplate = $('#template-series-information-calendar').clone().html(),
                endDateTemplate = $('#template-series-information-calendar').clone().html(),
                dateTemplate = '';

            htmlTemplate = htmlTemplate.replace('SERIESCOUNT', result.seriesCount);
            htmlTemplate = htmlTemplate.replace('VARIABLENUMBER', result.variablesNumber);
            if (result.beginDate !== '' && result.endDate !== '') {
                dateTemplate += beginDateTemplate.replace('DATE', result.beginDate);
                dateTemplate += endDateTemplate.replace('DATE', result.endDate);
            }
            $('.'+siteID+'-series-informations-number').html(htmlTemplate);
            $('.'+siteID+'-series-informations-date').html(dateTemplate);
        };

    $('document').ready(function () {
        var sites_list = $('.site-item-box');

        for (var i = 0 ; i < sites_list.length ; i++) {
            var siteID = sites_list[i].className.replace('item-box site-item-box ', ''),
                siteIDURL = URLBASE.replace(SITEIDKEY, siteID);
            getSeriesInformationPerSite(siteID, siteIDURL, function (siteID, result) {
                updateSeriesInformationHTML(siteID, result);
            });
        }
    });
</script>
