<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />

<!-- WRAPPER -->
<div id="wrapper">

    <section class="container top-no-header">

<!--############################################################################

        SITE DESCRIPTION

#############################################################################-->    
        <div class="white-row actual-site-information <%= site.extID %>">
            <div class="row">

                <h3 class="page-header nomargin-top margin-bottom40">
                    <strong class="styleColor"><%= site.label %></strong>
                </h3>
                
                <figure class="agent-figure pull-left hidden-xs">
                    <img src="<%= site.photo %>" height="210" alt="site photo" />
                </figure>

                <!-- agent detail -->
                <p>
                    <strong class="styleSecondColor fsize17"><%= locationStringifier(site.location) %></strong>
                </p>
                <p class="series-information">
                    <img src="/images/loading.gif" alt="loading" />
                </p>

                <p class="fsize13">
                    <%= site.description %>
                </p>

            </div>
        
        </div>
        
<!--############################################################################

        Variables list

#############################################################################-->
        <div class="white-row">
            <div class="row">
                <h3 class="page-header nomargin-top margin-bottom40">
                    <strong class="styleColor">Variables</strong>
                </h3>
                <% if (variables.length === 0) { %>
                    <p class="fsize13">
                        Ce site ne contient aucune variable, ni aucune série temporelle pour le moment.
                    </p>
                <% } else { %>
                <div style="text-align: center;" class="loading-variables-list">
                    <img src="/images/loading.gif" alt="loading" />
                </div>
                <table id="table-variables-list" class="table table-bordered table-hover table-responsive table-striped hidden">
                    <thead>
                        <tr>
                            <th>Variable ID</th>
                            <th>Label</th>
                            <th>Type</th>
                            <th>Unité</th>
                            <th>Période</th>
                            <th>Nombre de mesure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(variables, function (variable) { %>
                        <tr class="<%= variable.id %>-informations">
                            <td><a href="#chart"><%= variable.extID %></a></td>
                            <td><%= variable.label %></td>
                            <td><%= variable.type %> (<%= variable.valueType %>)</td>
                            <td><%= variable.unit %></td>
                            <td class="<%= variable.id %>-period"></td>
                            <td class="<%= variable.id %>-series-number"></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div id="div-variables-list" class="hidden">

                <!-- This div contains information about variables (avoid to use several API request to retrieve this information) -->
                    <% _.each(variables, function (variable) { %>
                        <div class="<%= variable.id %>-informations">
                            <p class="<%= variable.id %>-ext-id"><%= variable.extID %></p>
                            <p class="<%= variable.id %>-label"><%= variable.label %></p>
                            <p class="<%= variable.id %>-type"><%= variable.type %> (<%= variable.valueType %>)</p>
                            <p class="<%= variable.id %>-unit"><%= variable.unit %></p>
                            <p class="<%= variable.id %>-start-date"></p>
                            <p class="<%= variable.id %>-end-date"></p>
                            <p class="<%= variable.id %>-series-number"></p>
                            <% if (!variable.lowerBound) {variable.lowerBound = '';}%>
                            <% if (!variable.upperBound) {variable.upperBound = '';}%>
                            <% if (!variable.deltaMin) {variable.deltaMin = '';}%>
                            <% if (!variable.deltaMax) {variable.deltaMax = '';}%>
                            <p class="<%= variable.id %>-lower-bound"><%= variable.lowerBound %></p>
                            <p class="<%= variable.id %>-upper-bound"><%= variable.upperBound %></p>
                            <p class="<%= variable.id %>-delta-min"><%= variable.deltaMin %></p>
                            <p class="<%= variable.id %>-delta-max"><%= variable.deltaMax %></p>
                            
                        </div>
                    <% }) %>
                </div>
                <% } %>
            </div>
        </div><!-- /Variables list -->

<!--############################################################################

        Chart

#############################################################################-->
        <% if (displayedVariable !== undefined) { %>
        <div class="row">

            <!-- center column -->
            <div class="col-md-8">
                <div class="white-row">

                    <form id="variables-chart-filter" action="/data-search/CSTB_SOPHIA/variables" method="get" class="<%= displayedVariable.id %>">

                        <!-- FILTER / SEARCH -->
                        <h3 class="page-header nomargin-top margin-bottom40">
                            <strong class="styleColor">Courbe</strong>
                        </h3>

                        <div style="text-align: center;" class="loading-variables-list">
                            <img src="/images/loading.gif" alt="loading" />
                        </div>

                        <div class="filter-properties hidden">
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>Label</label>
                                        <select id="variables-chart-selector" class="form-control" name="variable">
                                        <% _.each(variables, function (variable) { %>
                                            <% if (variable.extID !== displayedVariable.extID) { %>
                                            <option value="<%= variable.id %>"><%= variable.label %></option>   
                                            <% } else { %>
                                            <option value="<%= variable.id %>" SELECTED><%= variable.label %></option>
                                            <% } %>
                                        <% }) %>
                                        </select>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <label>Mesures</label>
                                        <input type="text" class="form-control chart-series-number" name="chart-series-number" value="" disabled/>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <label>Début période</label>
                                        <input type="text" class="form-control" id="datepickerBeginDate">
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <label>Fin période</label>
                                        <input type="text" class="form-control" id="datepickerEndDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div id="chart" style="height: 450px;" class="col-md-12 col-sm-12 col-xs-12">
                                        <div style="text-align: center;">
                                            <img src="/images/loading.gif" alt="loading" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                      

            </div>

            <!-- side column -->
            <div class="col-md-4">

                <form id="variables-chart-filter" action="/data-search/CSTB_SOPHIA/variables" method="get" class="white-row <%= displayedVariable.id %>">

                    <!-- FILTER / SEARCH -->
                    <h3 class="page-header nomargin-top margin-bottom40">
                        <strong class="styleColor">Informations sur la variable</strong>
                    </h3>

                    <div style="text-align: center;" class="loading-variables-list">
                        <img src="/images/loading.gif" alt="loading" />
                    </div>

                    <div class="filter-properties hidden">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-6">
                                    <label>Nombre de mesure totale</label>
                                    <input type="text" class="form-control variable-series-number" name="variable-series-number" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-6">
                                    <label>Début période</label>
                                    <input type="text" class="form-control variable-start-date" name="variable-start-date" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-6">
                                    <label>Fin période</label>
                                    <input type="text" class="form-control variable-end-date" name="variable-end-date" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Type</label>
                                    <input type="text" class="form-control variable-type" name="variable-type" value="<%= displayedVariable.type %> (<%= displayedVariable.valueType %>)" disabled/>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Unité</label>
                                    <input type="text" class="form-control variable-unit" name="variable-unit" value="<%= displayedVariable.unit %>" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Borne inf.</label>
                                    <% if (displayedVariable.lowerBound) { displayedVariable.lowerBound = '' } %>
                                    <input type="text" class="form-control variable-lower-bound" name="variable-lower-bound" value="<%= displayedVariable.lowerBound %>" disabled/>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Borne sup.</label>
                                    <% if (displayedVariable.upperBound) { displayedVariable.upperBound = '' } %>
                                    <input type="text" class="form-control variable-upper-bound" name="variable-upper-bound" value="<%= displayedVariable.upperBound %>" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">    
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Delta min.</label>
                                    <% if (displayedVariable.deltaMin) { displayedVariable.deltaMin = '' } %>
                                    <input type="text" class="form-control variable-delta-min" name="re_id" value="<%= displayedVariable.deltaMin %>" disabled/>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Delta max.</label>
                                    <% if (displayedVariable.deltaMax) { displayedVariable.deltaMax = '' }%>
                                    <input type="text" class="form-control variable-delta-max" name="variable-delta-max" value="<%= displayedVariable.deltaMax %>" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% } %>
    </section>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="/js/fr_regional_datepicker.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/js/moment.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/html" id="template-series-information">
    <span class="block fsize12">
        <i class="fa fa-download" title="download"></i>&nbsp;&nbsp;<strong>SERIESCOUNT</strong>
    </span>
    <span class="block fsize12">
        <i class="fa fa-rss" title="garage"></i>&nbsp;&nbsp;<strong>VARIABLENUMBER</strong>
    </span>
</script>

<script type="text/html" id="template-series-information-calendar">
    <span class="block fsize12">
        <i class="fa fa-calendar" title="calendar">&nbsp;&nbsp;</i><strong>DATE</strong> 
    </span>
</script>

<script src="/js/variables.js"></script>
