<!--
    To be displayed :

    * Display site's information:
        - (OK) label
        - (OK) description
        - (OK) photo
        - (OK) data information
        - (OK) variables list

    * Display variables series:
        - (OK) choose variable
        - (NOT OK) navigate from-to
        - (OK) display variable information
        - (NOT OK) download this extract

    * Downloads series:
        - (NOT OK) from-to selector
        - (NOT OK) check variable needed
        - (NOT OK) variables table
            - (NOT OK) label
            - (NOT OK) from date
            - (NOT OK) to date
            - (NOT OK) number of point
-->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />



<!-- WRAPPER -->
<div id="wrapper">

    <section class="container top-no-header">

<!--############################################################################

        SITE DESCRIPTION

#############################################################################-->    
        <div class="white-row actual-site-information <%= site.extID %>">
            <div class="row">

                <h3 class="page-header nomargin-top margin-bottom40">
                    <strong class="styleColor"><%= site.label %></strong>
                </h3>
                
                <figure class="agent-figure pull-left hidden-xs">
                    <img src="<%= site.photo %>" height="210" alt="site photo" />
                </figure>

                <!-- agent detail -->
                <p>
                    <strong class="styleSecondColor fsize17"><%= locationStringifier(site.location) %></strong>
                </p>
                <p class="series-information">
                    <img src="/images/loading.gif" alt="loading" />
                </p>

                <p class="fsize13">
                    <%= site.description %>
                </p>

            </div>
        
        </div>
        
<!--############################################################################

        Variables list

#############################################################################-->
        <div class="white-row">
            <div class="row">
                <h3 class="page-header nomargin-top margin-bottom40">
                    <strong class="styleColor">Variables</strong>
                </h3>
                <% if (variables.length === 0) { %>
                    <p class="fsize13">
                        Ce site ne contient aucune variable, ni aucune série temporelle pour le moment.
                    </p>
                <% } else { %>
                <div style="text-align: center;" class="loading-variables-list">
                    <img src="/images/loading.gif" alt="loading" />
                </div>
                <table id="table-variables-list" class="table table-bordered table-hover table-responsive table-striped hidden">
                    <thead>
                        <tr>
                            <th>Variable ID</th>
                            <th>Label</th>
                            <th>Type</th>
                            <th>Unité</th>
                            <th>Période</th>
                            <th>Nombre de mesure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(variables, function (variable) { %>
                        <tr class="<%= variable.id %>-informations">
                            <td><a href="#chart"><%= variable.extID %></a></td>
                            <td><%= variable.label %></td>
                            <td><%= variable.type %> (<%= variable.valueType %>)</td>
                            <td><%= variable.unit %></td>
                            <td class="<%= variable.id %>-period"></td>
                            <td class="<%= variable.id %>-series-number"></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div id="div-variables-list" class="hidden">

                <!-- This div contains information about variables (avoid to use several API request to retrieve this information) -->
                    <% _.each(variables, function (variable) { %>
                        <div class="<%= variable.id %>-informations">
                            <p class="<%= variable.id %>-ext-id"><%= variable.extID %></p>
                            <p class="<%= variable.id %>-label"><%= variable.label %></p>
                            <p class="<%= variable.id %>-type"><%= variable.type %> (<%= variable.valueType %>)</p>
                            <p class="<%= variable.id %>-unit"><%= variable.unit %></p>
                            <p class="<%= variable.id %>-start-date"></p>
                            <p class="<%= variable.id %>-end-date"></p>
                            <p class="<%= variable.id %>-series-number"></p>
                            <% if (!variable.lowerBound) {variable.lowerBound = '';}%>
                            <% if (!variable.upperBound) {variable.upperBound = '';}%>
                            <% if (!variable.deltaMin) {variable.deltaMin = '';}%>
                            <% if (!variable.deltaMax) {variable.deltaMax = '';}%>
                            <p class="<%= variable.id %>-lower-bound"><%= variable.lowerBound %></p>
                            <p class="<%= variable.id %>-upper-bound"><%= variable.upperBound %></p>
                            <p class="<%= variable.id %>-delta-min"><%= variable.deltaMin %></p>
                            <p class="<%= variable.id %>-delta-max"><%= variable.deltaMax %></p>
                            
                        </div>
                    <% }) %>
                </div>
                <% } %>
            </div>
        </div><!-- /Variables list -->

<!--############################################################################

        Chart

#############################################################################-->
        <% if (displayedVariable !== undefined) { %>
        <div class="row">

            <!-- center column -->
            <div class="col-md-8">
                <div class="white-row">

                    <form id="variables-chart-filter" action="/data-search/CSTB_SOPHIA/variables" method="get" class="<%= displayedVariable.id %>">

                        <!-- FILTER / SEARCH -->
                        <h3 class="page-header nomargin-top margin-bottom40">
                            <strong class="styleColor">Courbe</strong>
                        </h3>

                        <div style="text-align: center;" class="loading-variables-list">
                            <img src="/images/loading.gif" alt="loading" />
                        </div>

                        <div class="filter-properties hidden">
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>Label</label>
                                        <select id="variables-chart-selector" class="form-control" name="variable">
                                        <% _.each(variables, function (variable) { %>
                                            <% if (variable.extID !== displayedVariable.extID) { %>
                                            <option value="<%= variable.id %>"><%= variable.label %></option>   
                                            <% } else { %>
                                            <option value="<%= variable.id %>" SELECTED><%= variable.label %></option>
                                            <% } %>
                                        <% }) %>
                                        </select>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <label>Mesures</label>
                                        <input type="text" class="form-control chart-series-number" name="chart-series-number" value="" disabled/>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <label>Début période</label>
                                        <input type="text" class="form-control" id="datepickerBeginDate">
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <label>Fin période</label>
                                        <input type="text" class="form-control" id="datepickerEndDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div id="chart" style="height: 450px;" class="col-md-12 col-sm-12 col-xs-12">
                                        <div style="text-align: center;">
                                            <img src="/images/loading.gif" alt="loading" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                      

            </div>

            <!-- side column -->
            <div class="col-md-4">

                <form id="variables-chart-filter" action="/data-search/CSTB_SOPHIA/variables" method="get" class="white-row <%= displayedVariable.id %>">

                    <!-- FILTER / SEARCH -->
                    <h3 class="page-header nomargin-top margin-bottom40">
                        <strong class="styleColor">Informations sur la variable</strong>
                    </h3>

                    <div style="text-align: center;" class="loading-variables-list">
                        <img src="/images/loading.gif" alt="loading" />
                    </div>

                    <div class="filter-properties hidden">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-6">
                                    <label>Nombre de mesure totale</label>
                                    <input type="text" class="form-control variable-series-number" name="variable-series-number" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-6">
                                    <label>Début période</label>
                                    <input type="text" class="form-control variable-start-date" name="variable-start-date" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-6">
                                    <label>Fin période</label>
                                    <input type="text" class="form-control variable-end-date" name="variable-end-date" value="" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Type</label>
                                    <input type="text" class="form-control variable-type" name="variable-type" value="<%= displayedVariable.type %> (<%= displayedVariable.valueType %>)" disabled/>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Unité</label>
                                    <input type="text" class="form-control variable-unit" name="variable-unit" value="<%= displayedVariable.unit %>" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Borne inf.</label>
                                    <% if (displayedVariable.lowerBound) { displayedVariable.lowerBound = '' } %>
                                    <input type="text" class="form-control variable-lower-bound" name="variable-lower-bound" value="<%= displayedVariable.lowerBound %>" disabled/>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Borne sup.</label>
                                    <% if (displayedVariable.upperBound) { displayedVariable.upperBound = '' } %>
                                    <input type="text" class="form-control variable-upper-bound" name="variable-upper-bound" value="<%= displayedVariable.upperBound %>" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">    
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Delta min.</label>
                                    <% if (displayedVariable.deltaMin) { displayedVariable.deltaMin = '' } %>
                                    <input type="text" class="form-control variable-delta-min" name="re_id" value="<%= displayedVariable.deltaMin %>" disabled/>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label>Delta max.</label>
                                    <% if (displayedVariable.deltaMax) { displayedVariable.deltaMax = '' }%>
                                    <input type="text" class="form-control variable-delta-max" name="variable-delta-max" value="<%= displayedVariable.deltaMax %>" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% } %>
    </section>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="/js/fr_regional_datepicker.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/js/moment.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/html" id="template-series-information">
    <span class="block fsize12">
        <i class="fa fa-download" title="download"></i>&nbsp;&nbsp;<strong>SERIESCOUNT</strong>
    </span>
    <span class="block fsize12">
        <i class="fa fa-rss" title="garage"></i>&nbsp;&nbsp;<strong>VARIABLENUMBER</strong>
    </span>
</script>

<script type="text/html" id="template-series-information-calendar">
    <span class="block fsize12">
        <i class="fa fa-calendar" title="calendar">&nbsp;&nbsp;</i><strong>DATE</strong> 
    </span>
</script>

<script type="text/javascript">
    
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    var SITEIDKEY = 'SITEID',
        URLBASE = '/sites/'+ SITEIDKEY +'/series/information.json',
        SERIESURLBASE = '/sites/'+ SITEIDKEY +'/variables/*/series',
        FROM = moment().subtract(7, 'days').format(),
        TO = moment().format(),
        ajaxRequest = function (seriesURL, callback) {
            
        $.ajax({
            type: 'GET',
            url: seriesURL
        }).done(function (result) {
            callback(result);
        });
    },
        updateSeriesInformationHTML = function (result) {
        var htmlTemplate = $('#template-series-information').clone().html(),
            beginDateTemplate = $('#template-series-information-calendar').clone().html(),
            endDateTemplate = $('#template-series-information-calendar').clone().html();

        htmlTemplate = htmlTemplate.replace('SERIESCOUNT', result.seriesCount);
        htmlTemplate = htmlTemplate.replace('VARIABLENUMBER', result.variablesNumber);
        if (result.beginDate !== '' && result.endDate !== '') {
            htmlTemplate += beginDateTemplate.replace('DATE', result.startDate);
            htmlTemplate += endDateTemplate.replace('DATE', result.endDate);
        }
        $('.series-information').html(htmlTemplate);
    },
        changeVariableFilterInformation = function (variableID) {
            var rowName = '#div-variables-list .'+variableID+'-informations',
                selectName = '#variables-chart-filter'
                classElement = [
                    '-type',
                    '-unit',
                    '-start-date',
                    '-end-date',
                    '-series-number',
                    '-lower-bound',
                    '-upper-bound',
                    '-delta-min',
                    '-delta-max'
                ];
            
            for (var i = 0 ; i < classElement.length ; i++) {
                $(selectName + ' .variable' + classElement[i]).val($(rowName + ' .'+variableID+classElement[i]).html());
            }
    },
        updateVariableSeriesInformationHTML = function (variables, callback) {
        var displayedVariableID = $('#variables-chart-filter')[0].className.replace('white-row ', '');

        variables = JSON.parse(variables);
        variables = variables.result;
        for (var i = 0 ; i < variables.length ; i++) {
            moment.locale('fr');
        
            var dateFormatIn = 'YYYY-MM-DDTHH:mm:ss.fffZ',
                dateFormatout = 'D MMM YYYY',
                beginDate = moment(variables[i].startDate, dateFormatIn).format(dateFormatout),
                endDate = moment(variables[i].endDate, dateFormatIn).format(dateFormatout),
                seriesNumber = variables[i].count,
                startDateClass = '.' + variables[i].variableID+ '-start-date',
                endDateClass = '.' + variables[i].variableID+ '-end-date',
                perioClass = '.' + variables[i].variableID+ '-period',
                seriesNumberClass = '.' + variables[i].variableID+ '-series-number';
            $(perioClass).html(beginDate +' - '+ endDate);
            $(seriesNumberClass).html(seriesNumber);
            $(startDateClass).html(beginDate);
            $(endDateClass).html(endDate);


            if (variables[i].variableID === displayedVariableID) {
                $('#variables-chart-filter .variable-start-date').val(beginDate);
                $('#variables-chart-filter .variable-end-date').val(endDate);
                $('#variables-chart-filter .variable-series-number').val(seriesNumber);
            }
        }
        callback();
    },
        loadVariableTable = function () {
        $('#table-variables-list').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/725b2a2115b/i18n/French.json"
            }
        });
        $('#table-variables-list').removeClass('hidden');
        $('#variables-chart-filter .filter-properties').removeClass('hidden');
        $('.loading-variables-list').addClass('hidden');
    },
        drawChart = function (seriesFromTo, fromDate, toDate) {
        
        var data = new google.visualization.DataTable(),
            seriesArray = [];
      
        seriesFromTo = JSON.parse(seriesFromTo);

        console.log(seriesFromTo);

        if (seriesFromTo.result.length > 0) {
            seriesFromTo = seriesFromTo.result[0];

            for (var i = 0 ; i < seriesFromTo.series.length ; i++) {
                seriesArray.push([new Date(seriesFromTo.series[i].isodate), parseInt(seriesFromTo.series[i].value)]);
            }
        }
        $('.chart-series-number').val(seriesArray.length);
        // Declare columns
        data.addColumn('datetime', 'Time of Day');
        data.addColumn('number', 'Consommation');
        // Add data.
        data.addRows(seriesArray);

        // Create and draw the visualization.
        new google.visualization.AreaChart(document.getElementById('chart')).draw(
            data,
            {
                curveType: 'function',
                hAxis: {
                    maxValue: new Date(toDate),
                    minValue: new Date(fromDate)
                },
                vAxis: {
                    minValue: 0,
                    minValue: 10
                },
                colors: ['#a0d0e0', '#3c8dbc'],
                chartArea:{
                    width: '85%',
                    height: '90%'
                },
                legend: {
                    position: 'top',
                    textStyle: {
                        fontSize: 16
                    }
                }
            }
        );
    };

    $('document').ready(function () {
        var sites_list = $('.actual-site-information'),
            siteID = sites_list[0].className.replace('white-row actual-site-information ', ''),
            siteIDURL = URLBASE.replace(SITEIDKEY, siteID),
            siteSeriesURL = SERIESURLBASE.replace(SITEIDKEY, siteID),
            displayedVariableID = $('#variables-chart-filter')[0].className.replace('white-row ', ''),
            seriesFromToURL = siteSeriesURL.replace('*', displayedVariableID) + '?from='+ FROM +'&to='+ TO;

        ajaxRequest(siteIDURL, function (result) {
            updateSeriesInformationHTML(result);
            ajaxRequest(siteSeriesURL, function (series) {
                updateVariableSeriesInformationHTML(series, function () {
                    loadVariableTable();
                });
                ajaxRequest(seriesFromToURL, function (seriesFromTo) {
                    drawChart(seriesFromTo, FROM, TO);
                });
            });
        });

        $('#variables-chart-selector').change(function () {
            var variableID = $('#variables-chart-selector').val(),
                rowName = '#div-variables-list .'+variableID+'-informations'
                variableLabel = $(rowName + ' .'+variableID+'-label').html(),
                siteID = sites_list[0].className.replace('white-row actual-site-information ', ''),
                siteIDURL = URLBASE.replace(SITEIDKEY, siteID),
                siteSeriesURL = SERIESURLBASE.replace(SITEIDKEY, siteID),
                seriesFromToURL = siteSeriesURL.replace('*', variableID) + '?from='+ FROM +'&to='+ TO;

            changeVariableFilterInformation(variableID);

            $('#chart').html('<div style="text-align: center;"><img src="/images/loading.gif" alt="loading" /></div>');
            $('.chart-variable-label').html(variableLabel);
            ajaxRequest(seriesFromToURL, function (seriesFromTo) {
                drawChart(seriesFromTo, FROM, TO);
            });
        });
        $('#datepickerBeginDate').datepicker({
            onSelect: function() {
                var from = moment($('#datepickerBeginDate').datepicker('getDate')).format(),
                    to = moment($('#datepickerEndDate').datepicker('getDate')).format(),
                    variableID = $('#variables-chart-selector').val(),
                    rowName = '#div-variables-list .'+variableID+'-informations'
                    variableLabel = $(rowName + ' .'+variableID+'-label').html(),
                    siteID = sites_list[0].className.replace('white-row actual-site-information ', ''),
                    siteIDURL = URLBASE.replace(SITEIDKEY, siteID),
                    siteSeriesURL = SERIESURLBASE.replace(SITEIDKEY, siteID),
                    seriesFromToURL = siteSeriesURL.replace('*', variableID) + '?from='+ from +'&to='+ to;

                changeVariableFilterInformation(variableID);

                $('#chart').html('<div style="text-align: center;"><img src="/images/loading.gif" alt="loading" /></div>');
                $('.chart-variable-label').html(variableLabel);
                ajaxRequest(seriesFromToURL, function (seriesFromTo) {
                    drawChart(seriesFromTo, from, to);
                });
            }
        });
        $('#datepickerEndDate').datepicker({
            onSelect: function() {
                var from = moment($('#datepickerBeginDate').datepicker('getDate')).format(),
                    to = moment($('#datepickerEndDate').datepicker('getDate')).format(),
                    variableID = $('#variables-chart-selector').val(),
                    rowName = '#div-variables-list .'+variableID+'-informations'
                    variableLabel = $(rowName + ' .'+variableID+'-label').html(),
                    siteID = sites_list[0].className.replace('white-row actual-site-information ', ''),
                    siteIDURL = URLBASE.replace(SITEIDKEY, siteID),
                    siteSeriesURL = SERIESURLBASE.replace(SITEIDKEY, siteID),
                    seriesFromToURL = siteSeriesURL.replace('*', variableID) + '?from='+ from +'&to='+ to;

                changeVariableFilterInformation(variableID);

                $('#chart').html('<div style="text-align: center;"><img src="/images/loading.gif" alt="loading" /></div>');
                $('.chart-variable-label').html(variableLabel);
                ajaxRequest(seriesFromToURL, function (seriesFromTo) {
                    drawChart(seriesFromTo, from, to);
                });
            }
        });
        
        $('#datepickerBeginDate').datepicker('setDate', new Date(FROM));
        $('#datepickerEndDate').datepicker('setDate', new Date(TO));
    });
</script>
